<!DOCTYPE html>

<div class="left-side">
  a
</div>

<div class="right-side">
  <div class="header-container">
    <p class="title">StreetCats</p>
  </div>

  <div class="content-container">
    <h1>Login</h1>
    <div class="input-container username">
      <p>Username</p>
      <input type="text" placeholder="Es. KungFuMarta">
    </div>

    <div class="input-container password">
      <p>Password</p>
      <input type="password">
      <a href="">Password dimenticata?</a>
    </div>

    <div class="button-container">
      <button class="access-button">Accedi</button>
    </div>

    <div class="register-container">
      Non hai un account?
      <a href="" class="register-link">Iscriviti</a>
      subito!
    </div>
  </div>
</div>